
<!-- Ejemplo de estrategia OnPush para change detection -->
<!-- <app-on-push></app-on-push> -->


<!-- Ejemplo de uso del metodo detach() -->
<app-detach></app-detach>


<!-- Ejemplo del uso del metodo detach() y reattach() -->
<!-- <app-reattach [enVivo]="live"></app-reattach>
<h5>Mostrar el precio en vivo?</h5>
<button (click)="live = !live">{{live? 'parar': 'activar'}}</button> -->


<!-- Ejemplo de uso de Angular zone (ngZone) -->
<!-- <app-ng-zone></app-ng-zone> -->


<!-- Ejemplo async pipe -->
<!-- <app-async-pipe [items$]="items$"></app-async-pipe> -->
<!-- boton para enviar una nueva lista con un nuevo elemento al componente async pipe -->
<!-- <button (click)="addItem()">Agregar un nuevo item a la lista</button> -->